server:
  port: ${PORT:8080}

spring:
  application:
    name: springboot-rest-api-demo
  profiles:
    default: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration-minutes: ${APP_JWT_EXP_MINUTES:60}