server:
  port: 8080

spring:
  application:
    name: springboot-rest-api-demo

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

app:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_FOR_PORTFOLIO_ONLY_1234567890"
    expiration-minutes: 60