server:
  port: ${PORT:8080}

spring:
  application:
    name: springboot-rest-api-demo
  profiles:
    default: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

app:
  jwt:
    secret: ${APP_JWT_SECRET:CHANGE_ME_TO_A_LONG_RANDOM_SECRET_FOR_PORTFOLIO_ONLY_1234567890}
    expiration-minutes: ${APP_JWT_EXP_MINUTES:60}